/*Ã¨â€¡ÂªÃ¥Â·Â±Ã¥â€ â„¢Ã§Å¡â€žcss*/
body{
    font-family:"Ã¥Â¾Â®Ã¨Â½Â¯Ã©â€ºâ€¦Ã©Â»â€˜";
}
@font-face {
    font-family: 'weijinsuo';
    src: url('../font/MiFie-Web-Font.eot')format('embedded-opentype'),
         url('../font/MiFie-Web-Font.svg')format('svg'),
         url('../font/MiFie-Web-Font.ttf')format('truetype'),
         url('../font/MiFie-Web-Font.woff')format('woff');
}
[class^="icon-"],[class*=" icon-"]{  /* Ã¥Â±Å¾Ã¦â‚¬Â§Ã©â‚¬â€°Ã¦â€¹Â©Ã¥â„¢Â¨ Ã¦â€žÂÃ¦â‚¬ÂÃ¦ËœÂ¯Ã¯Â¼Å¡Ã©â‚¬â€°Ã¤Â¸Â­classÃ¥ÂÂÃ¤Â»Â¥Ã¢â‚¬Å“icon-Ã¢â‚¬ÂÃ¥Â¼â‚¬Ã¥Â¤Â´Ã§Å¡â€žÃ¯Â¼Ë†Ã¤Â½â€ Ã¦ËœÂ¯Ã¥ÂÂªÃ¨Æ’Â½Ã¦ËœÂ¯ Ã¥Â¼â‚¬Ã¥Â¤Â´ Ã¥Â¼â‚¬Ã¥Â¤Â´ Ã¥Â¼â‚¬Ã¥Â¤Â´ Ã§Å¡â€žÃ§Â±Â»Ã¥ÂÂÃ¦ËœÂ¯Ã¢â‚¬Å“icon-Ã¢â‚¬ÂÃ¯Â¼â€°Ã¯Â¼Å’Ã¥Â¦â€šÃ¦Å¾Å“Ã¢â‚¬Å“icon-Ã¢â‚¬ÂÃ¨Â¿â„¢Ã¤Â¸ÂªÃ§Â±Â»Ã¥ÂÂÃ¤Â¸ÂÃ¦ËœÂ¯Ã¥Å“Â¨Ã§Â¬Â¬Ã¤Â¸â‚¬Ã¤Â½ÂÃ§Å¡â€žÃ¨Â¯ÂÃ¯Â¼Ë†Ã¥Ââ€¡Ã¥Â¦â€šÃ¥Å“Â¨Ã§Â¬Â¬Ã¤ÂºÅ’Ã¤Â½ÂÃ¯Â¼Å’Ã§Â¬Â¬Ã¤Â¸â€°Ã¤Â½ÂÃ¯Â¼Å’Ã§Â¬Â¬nÃ¤Â½ÂÃ¯Â¼â€°*/
    font-family:weijinsuo;
    font-style: normal;
}
.icon-mobilephone::before{
    content: "\e908";
    font-size:13px;
}
.icon-telephone::before{
    content: '\e909';
    font-size:15px;
}
/*Ã¥Â¤Â´Ã©Æ’Â¨Ã¥Å’ÂºÃ¥Å¸Å¸*/
#header>.topbar {
    height: 40px;
    border-bottom: 1px solid #c0c0c0;
    line-height: 40px;
}
#header>.topbar>.container>.row>div{
    height: 40px;
    font-size: 12px;
    color: #888;
}
#header>.topbar>.container>.row>div+div{    /*Ã¥Å Â Ã¥ÂÂ·Ã©â‚¬â€°Ã¦â€¹Â©Ã¥â„¢Â¨:Ã©â„¢Â¤Ã¤Âºâ€ Ã§Â¬Â¬Ã¤Â¸â‚¬Ã¤Â¸ÂªdivÃ¦Â²Â¡Ã¦Å“â€°Ã¨Â¢Â«Ã©â‚¬â€°Ã¤Â¸Â­Ã¯Â¼Å’Ã¥â€¦Â¶Ã¤Â»â€“Ã§Å¡â€žÃ©Æ’Â½Ã©â‚¬â€°Ã¤Â¸Â­*/
    border-left:1px solid #c0c0c0;
}
#header .mobile-link{
    font-size:12px;
    color: #888;
}
#header .topbar .row .row-md-3 a{
    color: #888;
}

#header .mobile-link img{
    display: none;
    position: absolute;
    left: 50%;
    margin-left:-60px;
    top: 30px;
    z-index:10001;
}
#header .mobile-link:hover{
    text-decoration: none;
}
#header .mobile-link:hover img{
    display: block;
}

 .navbar-itcast{
    background-color: #fff;
    border-color: #f5f5f5;
     margin-bottom:0;
}
.navbar-itcast .navbar-brand {
    color: #777;
    height: 80px;
}
.navbar-itcast .navbar-brand:hover,
.navbar-itcast .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}
.navbar-itcast .navbar-text {
    color: #777;
}
.navbar-itcast .navbar-nav > li > a {
    color: #777;
    line-height:48px;
}
.navbar-itcast .navbar-nav > li > a:hover,
.navbar-itcast .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
    border-bottom:2px solid #e92322;
}
.navbar-itcast .navbar-nav > .active > a,
.navbar-itcast .navbar-nav > .active > a:hover,
.navbar-itcast .navbar-nav > .active > a:focus {
    color: #555;
    background-color: transparent;
    border-bottom: 2px solid #e92322;
}
.navbar-itcast .navbar-nav > .disabled > a,
.navbar-itcast .navbar-nav > .disabled > a:hover,
.navbar-itcast .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}
.navbar-itcast .navbar-toggle {
    border-color: #ddd;
    margin-top: 23px;
    margin-bottom:23px;
}
.navbar-itcast .navbar-toggle:hover,
.navbar-itcast .navbar-toggle:focus {
    background-color: #ddd;
}
.navbar-itcast .navbar-toggle .icon-bar {
    background-color: #888;
}
.navbar-itcast .navbar-collapse,
.navbar-itcast .navbar-form {
    border-color: #e7e7e7;
}
.navbar-itcast .navbar-nav > .open > a,
.navbar-itcast .navbar-nav > .open > a:hover,
.navbar-itcast .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}
@media (max-width: 767px) {
    .navbar-itcast .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-itcast .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-itcast .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }
    .navbar-itcast .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-itcast .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-itcast .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }
    .navbar-itcast .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-itcast .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-itcast .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}
.navbar-itcast .navbar-link {
    color: #777;
}
.navbar-itcast .navbar-link:hover {
    color: #333;
}
.navbar-itcast .btn-link {
    color: #777;
}
.navbar-itcast .btn-link:hover,
.navbar-itcast .btn-link:focus {
    color: #333;
}
.navbar-itcast .btn-link[disabled]:hover,
fieldset[disabled] .navbar-itcast .btn-link:hover,
.navbar-itcast .btn-link[disabled]:focus,
fieldset[disabled] .navbar-itcast .btn-link:focus {
    color: #ccc;
}

.icon-logo::before{
    content:"\e93e";
}
.icon-icon::before{
    content:"\e920";
}
#header .icon-icon{
    font-size: 50px;
    color: #e92322;
    line-height: 50px;
    vertical-align:middle;
}
#header .icon-logo{
    font-size: 30px;
    color:#333;
    line-height: 50px;
    vertical-align:middle;

}

/*===========Ã©â‚¬Å¡Ã¦Â ÂÃ¥Â¹Â¿Ã¥â€˜Å Ã¥Â¼â‚¬Ã¥Â§â€¹============*/
#main_ad .carousel-inner .item{
    background-repeat:no-repeat;
    background-position: center center;
    background-size:cover;
}

@media (min-width: 768px) { /*Ã¥Â½â€œÃ¥Â±ÂÃ¥Â¹â€¢Ã¥Â®Â½Ã¥ÂºÂ¦Ã¥Â¤Â§Ã¤ÂºÅ½768Ã¦â€”Â¶Ã¯Â¼Å’Ã¦â€°ÂÃ¤Â¼Å¡Ã¦â€°Â§Ã¨Â¡Å’*/
    #main_ad .carousel-inner .item {
        height: 410px;
    }
}
#main_ad .carousel-inner .item img{
    width: 100%;
}
/*===========Ã©â‚¬Å¡Ã¦Â ÂÃ¥Â¹Â¿Ã¥â€˜Å Ã§Â»â€œÃ¦ÂÅ¸============*/

/*=============ç½‘ç«™ç‰¹è‰²================*/
#tese{
    padding: 50px;
    border-bottom:1px solid #c0c0c0;
}
.icon-uniE907::before{
    content:"\e907";
}
#tese i{
    font-size:35px;
}
#tese a:hover{
    text-decoration:none;
}
#tese a:hover{
    color: #e92322;
}
#tese .container div{
    margin-bottom:20px;
    margin-top:20px;
}

/*============================ç½‘ç«™ç‰¹è‰²ç»“æŸ=================*/

/*=============ç«‹å³é¢„çº¦=============*/
#ljyy{
    border-bottom: 1px solid #c0c0c0;
    padding: 20px 0;
}
#ljyy p{
    font-size:14px;
}
#ljyy .container p span,#ljyy .container p:nth-child(1) a{
    color: #e92322;
}
#ljyy .icon-uniE906::before{
    content:"\e906";
}
/*============================ç«‹å³é¢„çº¦ç»“æŸ=============*/
/*===================äº§å“æŽ¨è*/
#tuijian{
    background-color: #f0f0f0;
    padding: 40px 0;
}
#tuijian .container .nav-tabs{
padding-left: 20px;
}
#tuijian .container .nav-tabs li{

}
#tuijian .container  li a{

}
#tuijian .container .nav-tabs li a:hover{

}
#tuijian .container .nav-tabs li.active{

}
#tuijian .container .nav-tabs li.active a{
    background-color: transparent;
    border: 0;
    border-bottom: 4px solid #e92322;
}
/*产品推荐   选项卡内容*/

/*产品推荐   选项卡内容结束*/

/*===================产品推荐结束======================*/
